.column-wrapper
  .column-main
    .column-main-inner
      .feeds-posts-wrapper{"data-infinite-scroll" => "", "data-infinite-scroll-params" => "{\"filter_type\":\"all\",\"tag_id\":373}"}
        .feed-topic-heading
          .feed-topic-icon
            / =fa_icon'hash', class'hash'
          .feed-topic-inner
            %h1.feed-topic-tag-title
              ワークスタイル
          .feed-topic-buttons
            .post-topic-button-wrapper
              .post-topic-button
                %a{:href => "/manage_posts/articles/new?tag=%E3%83%AF%E3%83%BC%E3%82%AF%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%AB"} 投稿する
            .post-follow-button-wrapper
              .post-follow-button{"data-tag-id" => "373"}
                フォロー
        .feed-trending
          %span.trending
            Trending
          %span.trending-description
            話題の投稿
        %article#stream-post-136613.stream-post{"data-company-id" => "sejuku", "data-log-meta" => "{\"star_count\":42,\"page_view\":3416,\"has_image\":true,\"passed_time\":1247698,\"is_following_company\":false,\"is_following_user\":false,\"is_already_shown\":false,\"strategy\":\"not_use_strategy\"}", "data-post-id" => "136613", "data-user-id" => "18186749"}
