#main.feeds-controller.feeds-index.action-index.cf
  #main-inner.cf
    .feeds-wrapper
      .feed-nav
        .feed-nav-outer
          .feed-nav-inner
            %ul.feed-nav-menu
              %li.feed-nav-menu__item
                %a.menu FOR YOU
              %li.feed-nav-menu__item
                %a.menu ワークスタイル
              %li.feed-nav-menu__item
                %a.menu 創業ストーリー
              %li.feed-nav-menu__item
                %a.menu 採用現場から
              %li.feed-nav-menu__item
                %a.menu ココロオドル瞬間
              %li.feed-nav-menu__item
                %a.menu 社会人一年目
              %li.feed-nav-menu__item
                %a.menu 社員インタビュー
              %li.feed-nav-menu__item
                %a.menu 私の就活
              %li.feed-nav-menu__item
                %a.menu 開発秘話
        .feed-nav-actions
          %li.icon-gear
          / = fa_icon 'gear', class: 'icon'
          %li.icon-heart
          / = fa_icon 'heart', class: 'icon'
          %li.icon-pencil-paper
          / = fa_icon 'pencil-paper', class: 'icon'
      .column-wrapper
        .column-main
          .column-main__inner
            .column-header
              .author-avatar
                %img.company-avatar{:alt => "株式会社サイバーエージェント's Blog", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=80,dh=80,da=l,ds=s,cw=80,ch=80,cc=FFFFFF)/assets/images/691798/original/49700765-8acb-4947-bbb0-f627c1cfed7c.jpeg?1477562187"}/
              .author-profile
                %a.author-name{:href => "/feed/s/www-cyberagent-co"}
                  株式会社サイバーエージェント's Blog
                %a.author-description
                  3日前
              .post-header-right
                .follow-button-disabled
                  .post-company-follow-wrapper
                    .post-company-follow-btn{"data-company-id" => "188905"}
                      フォロー
            .stream-post-content-138305.stream-post-content
              %a.post-body.feed-article-wrapper{"data-company-id" => "www-cyberagent-co", "data-disabled-modal" => "false", "data-post-id" => "138305", "data-user-id" => "26402410", :href => "/companies/www-cyberagent-co/post_articles/138305"}
            .article-image
              %img{:alt => "Bc1c5c77 04fa 405d 99a7 b17773e350a8?1539568256", :height => "180", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=600,dh=180,da=s,ds=s,cw=600,ch=180,cc=FFFFFF)/assets/images/3156250/original/bc1c5c77-04fa-405d-99a7-b17773e350a8?1539568256", :width => "600"}/
            .article-writers
              .writer-avatars
                .writer-avatar
                  %img.writer-avatar-image{:alt => "6ada4977 62b3 4523 830d b63232be76b8?1539163927", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=48,dh=48,da=s,ds=s,cw=48,ch=48,cc=FFFFFF)/assets/images/3146255/original/6ada4977-62b3-4523-830d-b63232be76b8?1539163927"}/
                .writer-name-wrapper
                  .writer-name
                    近藤 百合菜
            %h2.article-title 【弟子入り密着24時】たった2日で急成長。噂の“弟子入り”に密着取材してみた！［前編］
            .article-description
              数多くの採用方法を企画し行ってきたサイバーエージェント。その中でもひと際異彩を放つ取り組みがある。それが“弟子入り”。弟子入りとは…第一線で活躍する先輩社員を「師匠」として「弟子入り」し、共にリ...
              %span.open-modal もっと見る
            .post-footer
              .footer-left
                .like-button-wrapper
                  .post-like-button.post-action-button.post-like-button-large{"data-company-id" => "188905", "data-location" => "feed", "data-post-id" => "138305", "data-state" => "published", :style => "width: 44px; height: 44px; line-height: 44px"}
                    .like-icon{:style => "width: 18px; height: 16px; margin-top: 50%; transform: translateY(-50%);"}
                      %img.icon{:alt => "Icon like o", :heigth => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-o-58e9b52442a840b27ecced11b28c27b6f06ae8e819f6206512cd6afceaa97378.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
                      %img.filled{:alt => "Icon like", :height => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-61d5d26f105659bc1eb76883f816c0e460dbc0e8133ce5697bfc4e40bfd3a9c2.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
                  .post-like-user-wrapper{"data-company-id" => "188905", "data-post-id" => "138305", :href => "#like-user-dialog"}
                    .post-like-users
                      .post-like-user
                        %img.small-avatar{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/1738076039604572/picture?height=40&width=40", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "Ec6a78c0 d2ac 4778 a03f 4a3fb9feffef?1536650225", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/3083718/original/ec6a78c0-d2ac-4778-a03f-4a3fb9feffef?1536650225", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "24852374 1343074975820174 1648861913424209834 n", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2180548/original/24852374_1343074975820174_1648861913424209834_n.jpg?1522165183", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/259293991497318/picture?height=40&width=40", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "Picture?1523032177", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2449622/original/picture?1523032177", :width => "40"}/
                      .post-like-count{"data-company-id" => "188905", "data-post-id" => "138305"}
                        15 いいね！
            .post-main.cf
            .reason-in-feed
            .post-header
              .author-avatar
                %img.company-avatar{:alt => "SHOWROOM株式会社", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=80,dh=80,da=l,ds=s,cw=80,ch=80,cc=FFFFFF)/assets/images/268434/original/68d69d34-f47f-4634-8960-772b3ad234d2.jpeg?1453354125"}/
              .author-profile
                %a.author-name{:href => "/companies/showroom-live"} SHOWROOM株式会社
                %a.author-description
                  5ヶ月前
              .post-header-right
                .follow-button.disabled
            .stream-post-content-119162.stream-post-content
              %a.post-body.feed-article-wrapper{"data-company-id" => "showroom-live", "data-disabled-modal" => "false", "data-post-id" => "119162", "data-user-id" => "3434641", :href => "/companies/showroom-live/post_articles/119162"}
                .article-image
                  %img{:alt => "168aee2b 6b4b 4fa1 9bde ef82d4d5d9c3?1526356064", :height => "180", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=600,dh=180,da=s,ds=s,cw=600,ch=180,cc=FFFFFF)/assets/images/2821397/original/168aee2b-6b4b-4fa1-9bde-ef82d4d5d9c3?1526356064", :width => "600"}/
            .article-writers
              .writer-avatars
                .writer-avatar
                  %img.writer-avatar-image{:alt => "10613000 685805644826818 3432133422353072666 n", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=48,dh=48,da=s,ds=s,cw=48,ch=48,cc=FFFFFF)/assets/images/2169253/original/10613000_685805644826818_3432133422353072666_n.jpg?1522161192"}/
              .writer-name-wrapper
                .writer-name
                  山本 紗也華
            %h2.article-title CTOにマネージメントについて聞いてみた
            .article-description
              僕自身のモノづくりのこだわりとして基本、一人の天才がプロダクトを作るのでなくCollective Genius 「集合天才」と言われるような組織のメンバーの才能を集めることによるプロダクト作りが...
              %span.open-modal もっと見る
            .post-footer
              .footer-left
                .like-button-wrapper
                  .post-like-button.post-action-button.post-like-button-large{"data-company-id" => "381694", "data-location" => "feed", "data-post-id" => "119162", "data-state" => "published", :style => "width: 44px; height: 44px; line-height: 44px"}
                    .like-icon{:style => "width: 18px; height: 16px; margin-top: 50%; transform: translateY(-50%);"}
                      %img.icon{:alt => "Icon like o", :heigth => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-o-58e9b52442a840b27ecced11b28c27b6f06ae8e819f6206512cd6afceaa97378.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
                      %img.filled{:alt => "Icon like", :height => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-61d5d26f105659bc1eb76883f816c0e460dbc0e8133ce5697bfc4e40bfd3a9c2.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
                  .post-like-user-wrapper{"data-company-id" => "381694", "data-post-id" => "119162", :href => "#like-user-dialog"}
                    .post-like-users
                      .post-like-user
                        %img.small-avatar{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/1738076039604572/picture?height=40&width=40", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "22140887 1682695085121941 3474981357648349821 n", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2149887/original/22140887_1682695085121941_3474981357648349821_n.jpg?1522149760", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "49cdffe2 424f 4a5a 8628 5ac7a3caf535?1529118250", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2472612/original/49cdffe2-424f-4a5a-8628-5ac7a3caf535?1529118250", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "406a6041 f10c 49e7 a97c c762d08853df?1538620969", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/3132739/original/406a6041-f10c-49e7-a97c-c762d08853df?1538620969", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "Picture?1523125605", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2544773/original/picture?1523125605", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/1720981088008711/picture?height=40&width=40", :width => "40"}/
                    .post-like-count{"data-company-id" => "381694", "data-post-id" => "119162"}
                      22 いいね！
            .post-main.cf
            .reason-in-feed
            .post-header
              .author-avatar
                %a{:href => "/companies/showroom-live"}
                  %img.company-avatar{:alt => "SHOWROOM株式会社", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=80,dh=80,da=l,ds=s,cw=80,ch=80,cc=FFFFFF)/assets/images/268434/original/68d69d34-f47f-4634-8960-772b3ad234d2.jpeg?1453354125"}/
              .author-profile
                %a.author-name{:href => "/companies/showroom-live"} SHOWROOM株式会社
                .author-description
                  9ヶ月前
              .post-header-right
                .follow-button.disabled
            .stream-post-content-106362.stream-post-content
              %a.post-body.feed-article-wrapper{"data-company-id" => "showroom-live", "data-disabled-modal" => "false", "data-post-id" => "106362", "data-user-id" => "3434641", :href => "/companies/showroom-live/post_articles/106362"}
                .article-image
                  %img{:alt => "B1c0d3ef 5594 4048 8a28 a7a7eb9399f3?1516865198", :height => "180", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=600,dh=180,da=s,ds=s,cw=600,ch=180,cc=FFFFFF)/assets/images/2018083/original/b1c0d3ef-5594-4048-8a28-a7a7eb9399f3?1516865198", :width => "600"}/
            .article-writers
              .writer-avatars
                .writer-avatar
                  %img.writer-avatar-image{:alt => "10613000 685805644826818 3432133422353072666 n", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=48,dh=48,da=s,ds=s,cw=48,ch=48,cc=FFFFFF)/assets/images/2169253/original/10613000_685805644826818_3432133422353072666_n.jpg?1522161192"}/
              .writer-name
                山本 紗也華
            %h2.article-title SHOWROOMの成長を加速させる仕組み
            .article-description
              SHOWROOMには工数の20％を本来業務とは別のプロジェクトに使っても良い仕組みがあります。SHOWROOM Indies Projectです。例えば今だったら「声優のジャンルを増やすためには...
              %span.open-modal もっと見る
            .post-footer
              .footer-left
                .like-button-wrapper
                  .post-like-button.post-action-button.post-like-button-large{"data-company-id" => "381694", "data-location" => "feed", "data-post-id" => "106362", "data-state" => "published", :style => "width: 44px; height: 44px; line-height: 44px"}
                    .like-icon{:style => "width: 18px; height: 16px; margin-top: 50%; transform: translateY(-50%);"}
                      %img.icon{:alt => "Icon like o", :heigth => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-o-58e9b52442a840b27ecced11b28c27b6f06ae8e819f6206512cd6afceaa97378.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
                      %img.filled{:alt => "Icon like", :height => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-61d5d26f105659bc1eb76883f816c0e460dbc0e8133ce5697bfc4e40bfd3a9c2.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
                  %a.post-like-user-wrapper{"data-company-id" => "381694", "data-post-id" => "106362", :href => "#like-user-dialog"}
                    .post-like-users
                      .post-like-user
                        %img.small-avatar{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/1738076039604572/picture?height=40&width=40", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "22140887 1682695085121941 3474981357648349821 n", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2149887/original/22140887_1682695085121941_3474981357648349821_n.jpg?1522149760", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "228ae324 73f0 4ec5 8bb1 edf409c7f821?1536664506", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2837627/original/228ae324-73f0-4ec5-8bb1-edf409c7f821?1536664506", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "3db30a18 6b3a 4332 925b 8506030f7b50?1530601669", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2185360/original/3db30a18-6b3a-4332-925b-8506030f7b50?1530601669", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/904266343108163/picture?height=40&width=40", :width => "40"}/
                      .post-like-user
                        %img.small-avatar{:alt => "4075f0d3 62a4 4adc 9cc5 5b089e609b4c", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/478262/original/4075f0d3-62a4-4adc-9cc5-5b089e609b4c.jpeg?1468557988", :width => "40"}/
                    .post-like-count{"data-company-id" => "381694", "data-post-id" => "106362"}
                      14 いいね！
            .post-main.cf
              .reason-in-feed
              .post-header
                .author-avatar
                  %a{:href => "/companies/ginco"}
                    %img{:alt => "株式会社Ginco", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=80,dh=80,da=l,ds=s,cw=80,ch=80,cc=FFFFFF)/assets/images/2015583/original/d906637c-cd18-4826-8fce-b1570a482996?1516777654"}/
                .author-profile
                  %a.author-name{:href => "/companies/ginco"} 株式会社Ginco
                  .author-description
                    %a{:href => "/companies/ginco/post_articles/136743"}
                      %span 20日前
                .post-header-right
                  .follow-button.disabled
                    .post-company-follow-wrapper
                      .post-company-follow-btn{"data-company-id" => "1078145"}
                        フォロー
              .stream-post-content-136743.stream-post-content
                %a.post-body.feed-article-wrapper{"data-company-id" => "ginco", "data-disabled-modal" => "false", "data-post-id" => "136743", "data-user-id" => "55837306", :href => "/companies/ginco/post_articles/136743"}
                  .article-image
                    %img{:alt => "C89fa2ab a48e 47f9 9c3e ebc806cd77d6?1538192102", :height => "180", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=600,dh=180,da=s,ds=s,cw=600,ch=180,cc=FFFFFF)/assets/images/3121969/original/c89fa2ab-a48e-47f9-9c3e-ebc806cd77d6?1538192102", :width => "600"}/
              .article-writers
                .writer-avatars
                  .writer-avatar
                    %img.company-avatar{:alt => "Cade132a b040 4750 b7a9 33e063404c1f?1530600728", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=48,dh=48,da=s,ds=s,cw=48,ch=48,cc=FFFFFF)/assets/images/2930140/original/cade132a-b040-4750-b7a9-33e063404c1f?1530600728"}/
                .writer-name
                  Kenji Fujimoto
              %h2.article-title FINSUM×REGSUM 2018 スタートアップピッチランにてUK Awardを受賞！
              .article-description
                FIN/SUM×REG/SUM 2018にGincoが参加！FIN/SUM×REG/SUM 2018は、金融庁と日経新聞が共同で主催する金融・規制領域の主要プレイヤーのサミットイベントです。9月...
                %span.open-modal もっと見る
              .post-footer
                .footer-left
                  .like-button-wrapper
                    .post-like-button.post-action-button.post-like-button-large{"data-company-id" => "1078145", "data-location" => "feed", "data-post-id" => "136743", "data-state" => "published", :style => "width: 44px; height: 44px; line-height: 44px"}
                      .like-icon{:style => "width: 18px; height: 16px; margin-top: 50%; transform: translateY(-50%);"}
                        %img.icon{:alt => "Icon like o", :heigth => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-o-58e9b52442a840b27ecced11b28c27b6f06ae8e819f6206512cd6afceaa97378.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
                        %img.filled{:alt => "Icon like", :height => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-61d5d26f105659bc1eb76883f816c0e460dbc0e8133ce5697bfc4e40bfd3a9c2.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
                    %a.post-like-user-wrapper{"data-company-id" => "1078145", "data-post-id" => "136743", :href => "#like-user-dialog"}
                      .post-like-users
                        .post-like-user
                          %img.small-avatar{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/1738076039604572/picture?height=40&width=40", :width => "40"}/
                        .post-like-user
                          %img.small-avatar{:alt => "A25488db c1b9 4171 a290 37753b59c52e?1539691788", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/3161646/original/a25488db-c1b9-4171-a290-37753b59c52e?1539691788", :width => "40"}/
                        .post-like-user
                          %img.small-avatar{:alt => "C3a250dd 6ec7 4742 acb2 1abb4dbc7c69?1539700850", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/3161909/original/c3a250dd-6ec7-4742-acb2-1abb4dbc7c69?1539700850", :width => "40"}/
                        .post-like-user
                          %img.small-avatar{:alt => "13095777 1728650200751332 6840122114578602381 n", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2240232/original/13095777_1728650200751332_6840122114578602381_n.jpg?1522918529", :width => "40"}/
                        .post-like-user
                          %img.small-avatar{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/1092912770844580/picture?height=40&width=40", :width => "40"}/
                        .post-like-user
                          %img.small-avatar{:alt => "4fe92121 cb2f 4a5f 982c c17a5325db13?1539760788", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/3157816/original/4fe92121-cb2f-4a5f-982c-c17a5325db13?1539760788", :width => "40"}/
                      .post-like-count{"data-company-id" => "1078145", "data-post-id" => "136743"}
                        10 いいね！










                .column-right
                  .feed-sidebar
                    %h1.feed-sidebar-title 急上昇中の投稿
                    %a.feed-sidebar-link{:href => "/feed/ranking"} さらに表示
                  .feed-sidebar-ranking
                    %a.item-wrapper{:href => "/companies/nexway/post_articles/138692?source=feed-sidebar-top_article"}
                      .avatar-wrapper
                        .avatar-outer
                          .avatar{:style => "background-image: url(\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=88,dh=88,da=s,ds=s,cw=88,ch=88,cc=FFFFFF)/assets/images/2183143/original/51867a57-d94c-4695-a50c-c28d809d2aca?1531367694\");"}
                          .rank-badge 1
                      .content-wrapper
                        %h1.content-title
                          カンバラくんが内定者に聞く「なんでうちの会社に決めたん！？」vol.1ーももち編
                        %h2.author
                          中川 真利奈
                          .small
                            シリーズカンバラくん
                  .feed-sidebar-ranking
                    %a.item-wrapper{:href => "/companies/atamaplus/post_articles/139214?source=feed-sidebar-top_article"}
                      .avatar-wrapper
                        .avatar-outer
                          .avatar{:style => "background-image: url(\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=88,dh=88,da=s,ds=s,cw=88,ch=88,cc=FFFFFF)/assets/images/2125313/original/85a96209-b4d2-44d6-bc5f-ecb058c53117?1525845023\");"}
                          .rank-badge 2
                      .content-wrapper
                        %h1.content-title
                          マッキンゼー、BCG出身の私たちが、atama plusを選んだ理由。
                        %h2.author
                          Mami Takakura
                          .small atama plus株式会社
                  .feed-sidebar-ranking
                    %a.item-wrapper{:href => "/companies/ca-wise/post_articles/138767?source=feed-sidebar-top_article"}
                      .avatar-wrapper
                        .avatar-outer
                          .avatar{:style => "background-image: url(\"https://graph.facebook.com/1794549077291389/picture?height=88&width=88\");"}
                          .rank-badge 3
                      .content-wrapper
                        %h1.content-title
                          アドテック東京、出展までの舞台裏
                        %h2.author
                          鳥山 可南子
                          .small 株式会社CA Wise
                  .feed-sidebar-weekly-ranking
                    %h1.section-title 今週の人気の投稿
                    %a.section-link{:href => "/feed/ranking?term=weekly"} さらに表示
                  .feed-sidebar-ranking
                    %a.item-wrapper{:href => "/companies/www-cyberagent-co/post_articles/138305?source=feed-sidebar-top_article"}
                      .avatar-wrapper
                        .avatar-outer
                          .avatar{:style => "background-image: url(\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=88,dh=88,da=s,ds=s,cw=88,ch=88,cc=FFFFFF)/assets/images/3146255/original/6ada4977-62b3-4523-830d-b63232be76b8?1539163927\");"}
                          .rank-badge 1
                      .content-wrapper
                        %h1.content-title
                          【弟子入り密着24時】たった2日で急成長。噂の“弟子入り”に密着取材してみた！［前編］
                        %h2.author
                          近藤 百合菜
                          %small 株式会社サイバーエージェント's Blog
                  .feed-sidebar-ranking
                    %a.item-wrapper{:href => "/companies/sejuku/post_articles/138568?source=feed-sidebar-top_article"}
                      .avatar-wrapper
                        .avatar-outer
                          .avatar{:style => "background-image: url(\"https://graph.facebook.com/450328058444718/picture?height=88&width=88\");"}
                          .rank-badge 2
                      .content-wrapper
                        %h1.content-title
                          【コンセプトが毎回変わる！？】TRUNK HOTELでおしゃれに社員総会してきました
                        %h2.author
                          山本 響
                          %small 侍エンジニア塾
                  .feed-sidebar-ranking
                    %a.item-wrapper{:href => "/companies/Supership/post_articles/52240?source=feed-sidebar-top_article"}
                      .avatar-wrapper
                        .avatar-outer
                          .avatar{:style => "background-image: url(\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=88,dh=88,da=s,ds=s,cw=88,ch=88,cc=FFFFFF)/assets/images/2207738/original/28870773_10155333684273568_2082266819059613193_n.jpg?1522909027\");"}
                          .rank-badge 3
                      .content-wrapper
                        %h1.content-title
                          面接の時に聞いてよかった質問と、意味がなかった質問をまとめてみた
                        %h2.author
                          古川 健介
                          %small Supership Tech Blog
          #employee-interview-dialog.closable-by-click.outer-scrollable.size-free.theme-dark.ui-modal-wrapper{:style => "display: none; z-index: 1500;"}
            .ui-modal-close.ui-modal-overlay
              %span.ui-modal-close
                %i.icon-remove
            .ui-modal-contents-container
              .ui-modal-contents-inner
                .ui-modal-contents
                  #employee-interview-dialog-content-wrapper{:style => "width: 812px;"}
          #article_dialog.closable-by-click.outer-scrollable.size-free.theme-dark.ui-modal-wrapper{:style => "display: none; z-index: 1500;"}
            .ui-modal-close.ui-modal-overlay
              %span.ui-modal-close
                %i.icon-remove
            .ui-modal-contents-container
              .ui-modal-contents-inner
                .ui-modal-contents
                  #article-dialog-content-wrapper{:style => "width: 812px;"}
          #liked_users_dialog.closable-by-click.size-free.theme-dark.ui-modal-wrapper{:style => "display: none; z-index: 1700;"}
            .ui-modal-close.ui-modal-overlay
              %span.ui-modal-close
                %i.icon-remove
            .ui-modal-contents-container
              .ui-modal-contents-inner
                .ui-modal-contents
                  #liked-users-dialog-content-wrapper{:style => "width: 420px;"}




    /           .post-main.cf
    /             .reason-in-feed
    /             .post-header.cf
    /               .author-avatar
    /                 %a{:href => "/companies/readyfor2"}
    /                   %img{:alt => "READYFOR株式会社", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=80,dh=80,da=l,ds=s,cw=80,ch=80,cc=FFFFFF)/assets/images/830275/original/0c230a67-3371-42d2-8afc-3652932f818c.jpeg?1479972339"}/
    /               .author-profile
    /                 %a.author-name{:href => "/companies/readyfor2"} READYFOR株式会社
    /                 .author-description
    /                   %a{:href => "/companies/readyfor2/post_articles/139047"}
    /                     %span 2日前
    /               .post-header-right
    /                 .follow-button.disabled
    /                   .post-company-follow-button-wrapper
    /                     .post-company-follow-button{"data-company-id" => "193679"}
    /                       フォロー
    /             #stream-post-content-139047.stream-post-content
    /               %a.post-body.feed-article-wrapper{"data-company-id" => "readyfor2", "data-disabled-modal" => "false", "data-post-id" => "139047", "data-user-id" => "14545", :href => "/companies/readyfor2/post_articles/139047"}
    /                 .article-image
    /                   %img{:alt => "C3b102f0 1dd3 4fc5 b9ce 77d1dc67f93a?1539755548", :height => "180", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=600,dh=180,da=s,ds=s,cw=600,ch=180,cc=FFFFFF)/assets/images/3163244/original/c3b102f0-1dd3-4fc5-b9ce-77d1dc67f93a?1539755548", :width => "600"}/
    /                 .article-writers
    /                   .writer-avatars
    /                     .writer-avatar
    /                       %img{:alt => "29177171 1502068736568543 8935770942131404800 n", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=48,dh=48,da=s,ds=s,cw=48,ch=48,cc=FFFFFF)/assets/images/2171100/original/29177171_1502068736568543_8935770942131404800_n.jpg?1522161837"}/
    /                     .writer-avatar
    /                       %img{:alt => "11831770 886418244765290 4528270738395605999 n", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=48,dh=48,da=s,ds=s,cw=48,ch=48,cc=FFFFFF)/assets/images/2168692/original/11831770_886418244765290_4528270738395605999_n.jpg?1522160988"}/
    /                     .writer-avatar
    /                       %img{:alt => "14484704 1350841464926006 3763926622106598914 n", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=48,dh=48,da=s,ds=s,cw=48,ch=48,cc=FFFFFF)/assets/images/2153990/original/14484704_1350841464926006_3763926622106598914_n.jpg?1522150778"}/
    /                   .writer-name
    /                     %span 米良 はるか
    /                     %span.others 他6人
    /                 %h2.article-title READYFORがグロービス・キャピタル・パートナーズ、Mistletoe株式会社、石川康晴氏、小泉文明氏を引受先...
    /                 .article-description
    /                   本日READYFOR株式会社として初めての外部資金調達を発表いたしました。以下プレスリリースより引用グロービス・キャピタル・パートナーズ、Mistletoe株式会社、石川康晴氏および小泉文明氏を...
    /                   %span.open-modal もっと見る
    /             .post-footer.cf
    /               .footer-left
    /                 .post-like-button-wrapper
    /                   .post-like-button.post-action-button.post-like-button-large{"data-company-id" => "193679", "data-location" => "feed", "data-post-id" => "139047", "data-state" => "published", :style => "width: 44px; height: 44px; line-height: 44px"}
    /                     .like-icon{:style => "width: 18px; height: 16px; margin-top: 50%; transform: translateY(-50%);"}
    /                       %img{:alt => "Icon like o", :heigth => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-o-58e9b52442a840b27ecced11b28c27b6f06ae8e819f6206512cd6afceaa97378.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
    /                       %img.filled{:alt => "Icon like", :height => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-61d5d26f105659bc1eb76883f816c0e460dbc0e8133ce5697bfc4e40bfd3a9c2.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
    /                   %a.post-like-user-wrapper{"data-company-id" => "193679", "data-post-id" => "139047", :href => "#like-user-dialog"}
    /                     .post-like-users
    /                       .own.post-like-user
    /                         %img{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/1738076039604572/picture?height=40&width=40", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "25d5a278 2afa 42d1 9e99 d39eff75dcb4?1538123886", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2651943/original/25d5a278-2afa-42d1-9e99-d39eff75dcb4?1538123886", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "A25488db c1b9 4171 a290 37753b59c52e?1539691788", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/3161646/original/a25488db-c1b9-4171-a290-37753b59c52e?1539691788", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "F023fc70 1bf1 470c 9fb9 f0953fae4608?1538354262", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/3124405/original/f023fc70-1bf1-470c-9fb9-f0953fae4608?1538354262", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "25552115 10154996569486356 5675529432622996119 n", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2164774/original/25552115_10154996569486356_5675529432622996119_n.jpg?1522160243", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "859359db 8c0f 47fd 9456 d323780287b7?1508819117", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/1861894/original/859359db-8c0f-47fd-9456-d323780287b7?1508819117", :width => "40"}/
    /                     .post-like-count{"data-company-id" => "193679", "data-post-id" => "139047"}
    /                       33 いいね！
    /         %article#stream-post-138519.stream-post{"data-company-id" => "persolcareer", "data-log-meta" => "{\"star_count\":29,\"page_view\":3155,\"has_image\":true,\"passed_time\":585774,\"is_following_company\":false,\"is_following_user\":false,\"is_already_shown\":false,\"strategy\":\"trend_strategy\"}", "data-post-id" => "138519", "data-user-id" => "17790614"}
    /           .post-main.cf
    /             .reason-in-feed
    /             .post-header.cf
    /               .author-avatar
    /                 %a{:href => "/companies/persolcareer"}
    /                   %img{:alt => "パーソルキャリア株式会社（キャリア採用）", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=80,dh=80,da=l,ds=s,cw=80,ch=80,cc=FFFFFF)/assets/images/132827/original/84745458-5d8c-435b-88aa-3fd6b6c21551?1510274594"}/
    /               .author-profile
    /                 %a.author-name{:href => "/companies/persolcareer"} パーソルキャリア株式会社（キャリア採用）
    /                 .author-description
    /                   %a{:href => "/companies/persolcareer/post_articles/138519"}
    /                     %span 7日前
    /               .post-header-right
    /                 .follow-button.disabled
    /                   .post-company-follow-button-wrapper
    /                     .post-company-follow-button{"data-company-id" => "170572"}
    /                       フォロー
    /             #stream-post-content-138519.stream-post-content
    /               %a.post-body.feed-article-wrapper{"data-company-id" => "persolcareer", "data-disabled-modal" => "false", "data-post-id" => "138519", "data-user-id" => "17790614", :href => "/companies/persolcareer/post_articles/138519"}
    /                 .article-image
    /                   %img{:alt => "A966f083 5f9c 43bb 8f7d b95986db0fbb?1539333678", :height => "180", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=600,dh=180,da=s,ds=s,cw=600,ch=180,cc=FFFFFF)/assets/images/3152532/original/a966f083-5f9c-43bb-8f7d-b95986db0fbb?1539333678", :width => "600"}/
    /                 .article-writers
    /                   .writer-avatars
    /                     .writer-avatar
    /                       %img{:alt => "Picture?height=48&width=48", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/453787198474644/picture?height=48&width=48"}/
    /                     .writer-avatar
    /                       %img{:alt => "16298697 1254285831315083 6459192205750049418 n", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=48,dh=48,da=s,ds=s,cw=48,ch=48,cc=FFFFFF)/assets/images/2175831/original/16298697_1254285831315083_6459192205750049418_n.jpg?1522163466"}/
    /                   .writer-name
    /                     %span 半澤 郁奈子
    /                     %span.others 他1人
    /                 %h2.article-title 自動車ディーラートップ営業マンからの転身でパーソルキャリアでリクルーティングコンサルタントが楽しめる理由　はたらい...
    /                 .article-description
    /                   こんにちは。パーソルキャリア キャリア採用部の半澤です。パーソルグループのスローガン「はたらいて、笑おう。」をテーマに、パーソルキャリアで活躍中の中途入社社員を紹介するシリーズ。第６回目は、自動...
    /                   %span.open-modal もっと見る
    /             .post-footer.cf
    /               .footer-left
    /                 .post-like-button-wrapper
    /                   .post-like-button.post-action-button.post-like-button-large{"data-company-id" => "170572", "data-location" => "feed", "data-post-id" => "138519", "data-state" => "published", :style => "width: 44px; height: 44px; line-height: 44px"}
    /                     .like-icon{:style => "width: 18px; height: 16px; margin-top: 50%; transform: translateY(-50%);"}
    /                       %img{:alt => "Icon like o", :heigth => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-o-58e9b52442a840b27ecced11b28c27b6f06ae8e819f6206512cd6afceaa97378.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
    /                       %img.filled{:alt => "Icon like", :height => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-61d5d26f105659bc1eb76883f816c0e460dbc0e8133ce5697bfc4e40bfd3a9c2.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
    /                   %a.post-like-user-wrapper{"data-company-id" => "170572", "data-post-id" => "138519", :href => "#like-user-dialog"}
    /                     .post-like-users
    /                       .own.post-like-user
    /                         %img{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/1738076039604572/picture?height=40&width=40", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "A25488db c1b9 4171 a290 37753b59c52e?1539691788", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/3161646/original/a25488db-c1b9-4171-a290-37753b59c52e?1539691788", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/896941623845572/picture?height=40&width=40", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "Picture?1523134708", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2553955/original/picture?1523134708", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "11073535 839465102809113 3346067381819763063 n", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2175282/original/11073535_839465102809113_3346067381819763063_n.jpg?1522163268", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "13239389 869393376523426 6855385186077451554 n", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2247038/original/13239389_869393376523426_6855385186077451554_n.jpg?1522920600", :width => "40"}/
    /                     .post-like-count{"data-company-id" => "170572", "data-post-id" => "138519"}
    /                       29 いいね！
    /         %article#stream-post-138229.stream-post{"data-company-id" => "sorainc", "data-log-meta" => "{\"star_count\":19,\"page_view\":3121,\"has_image\":true,\"passed_time\":600026,\"is_following_company\":false,\"is_following_user\":false,\"is_already_shown\":false,\"strategy\":\"trend_strategy\"}", "data-post-id" => "138229", "data-user-id" => "248760"}
    /           .post-main.cf
    /             .reason-in-feed
    /             .post-header.cf
    /               .author-avatar
    /                 %a{:href => "/companies/sorainc"}
    /                   %img{:alt => "株式会社空", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=80,dh=80,da=l,ds=s,cw=80,ch=80,cc=FFFFFF)/assets/images/465315/original/440a3ff0-9c73-4346-8b11-10227cbb530c.png?1467795748"}/
    /               .author-profile
    /                 %a.author-name{:href => "/companies/sorainc"} 株式会社空
    /                 .author-description
    /                   %a{:href => "/companies/sorainc/post_articles/138229"}
    /                     %span 7日前
    /               .post-header-right
    /                 .follow-button.disabled
    /                   .post-company-follow-button-wrapper
    /                     .post-company-follow-button{"data-company-id" => "489188"}
    /                       フォロー
    /             #stream-post-content-138229.stream-post-content
    /               %a.post-body.feed-article-wrapper{"data-company-id" => "sorainc", "data-disabled-modal" => "false", "data-post-id" => "138229", "data-user-id" => "248760", :href => "/companies/sorainc/post_articles/138229"}
    /                 .article-image
    /                   %img{:alt => "Edaa2d86 0e41 4068 a124 39cc4e664ba2?1539225476", :height => "180", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=600,dh=180,da=s,ds=s,cw=600,ch=180,cc=FFFFFF)/assets/images/3147395/original/edaa2d86-0e41-4068-a124-39cc4e664ba2?1539225476", :width => "600"}/
    /                 .article-writers
    /                   .writer-avatars
    /                     .writer-avatar
    /                       %img{:alt => "06bc309a 2217 4fc7 bda1 4e71b0012169?1518273551", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=48,dh=48,da=s,ds=s,cw=48,ch=48,cc=FFFFFF)/assets/images/2048741/original/06bc309a-2217-4fc7-bda1-4e71b0012169?1518273551"}/
    /                     .writer-avatar
    /                       %img{:alt => "5baa3b6f 16e9 40f8 9f6e a151551cc8f6?1531191064", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=48,dh=48,da=s,ds=s,cw=48,ch=48,cc=FFFFFF)/assets/images/2243992/original/5baa3b6f-16e9-40f8-9f6e-a151551cc8f6?1531191064"}/
    /                   .writer-name
    /                     %span 田島 一平
    /                     %span.others 他1人
    /                 %h2.article-title 総合商社・ヘッドハンティング会社を経て、僕が今、空にjoinした理由　ニロ祐典
    /                 .article-description
    /                   こんにちは、株式会社空で人事をしている一平です。今回は社員紹介vol.7 として 9月よりフィールドセールスとして入社をしてくれたニロをご紹介させていただきます。ニ口 祐典（ニックネーム：ニロ ...
    /                   %span.open-modal もっと見る
    /             .post-footer.cf
    /               .footer-left
    /                 .post-like-button-wrapper
    /                   .post-like-button.post-action-button.post-like-button-large{"data-company-id" => "489188", "data-location" => "feed", "data-post-id" => "138229", "data-state" => "published", :style => "width: 44px; height: 44px; line-height: 44px"}
    /                     .like-icon{:style => "width: 18px; height: 16px; margin-top: 50%; transform: translateY(-50%);"}
    /                       %img{:alt => "Icon like o", :heigth => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-o-58e9b52442a840b27ecced11b28c27b6f06ae8e819f6206512cd6afceaa97378.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
    /                       %img.filled{:alt => "Icon like", :height => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-61d5d26f105659bc1eb76883f816c0e460dbc0e8133ce5697bfc4e40bfd3a9c2.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
    /                   %a.post-like-user-wrapper{"data-company-id" => "489188", "data-post-id" => "138229", :href => "#like-user-dialog"}
    /                     .post-like-users
    /                       .own.post-like-user
    /                         %img{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/1738076039604572/picture?height=40&width=40", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "A25488db c1b9 4171 a290 37753b59c52e?1539691788", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/3161646/original/a25488db-c1b9-4171-a290-37753b59c52e?1539691788", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "Picture?1523336186", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2689595/original/picture?1523336186", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "A61f92e5 1940 4e20 8461 208430d09d1f?1534814492", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/3037195/original/a61f92e5-1940-4e20-8461-208430d09d1f?1534814492", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "C3a250dd 6ec7 4742 acb2 1abb4dbc7c69?1539700850", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/3161909/original/c3a250dd-6ec7-4742-acb2-1abb4dbc7c69?1539700850", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/157041518265504/picture?height=40&width=40", :width => "40"}/
    /                     .post-like-count{"data-company-id" => "489188", "data-post-id" => "138229"}
    /                       19 いいね！
    /         %article#stream-post-136444.stream-post{"data-company-id" => "kuno-cpa2", "data-log-meta" => "{\"star_count\":4,\"page_view\":10195,\"has_image\":true,\"passed_time\":1893443,\"is_following_company\":false,\"is_following_user\":false,\"is_already_shown\":true,\"strategy\":\"trend_strategy\"}", "data-post-id" => "136444", "data-user-id" => "14162850"}
    /           .post-main.cf
    /             .reason-in-feed
    /             .post-header.cf
    /               .author-avatar
    /                 %a{:href => "/companies/kuno-cpa2"}
    /                   %img{:alt => "株式会社東京コンサルティングファーム", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=80,dh=80,da=l,ds=s,cw=80,ch=80,cc=FFFFFF)/assets/images/176095/original/487cc029-cafd-475b-be97-192e238e58bf?1537930182"}/
    /               .author-profile
    /                 %a.author-name{:href => "/companies/kuno-cpa2"} 株式会社東京コンサルティングファーム
    /                 .author-description
    /                   %a{:href => "/companies/kuno-cpa2/post_articles/136444"}
    /                     %span 22日前
    /               .post-header-right
    /                 .follow-button.disabled
    /                   .post-company-follow-button-wrapper
    /                     .post-company-follow-button{"data-company-id" => "304325"}
    /                       フォロー
    /             #stream-post-content-136444.stream-post-content
    /               %a.post-body.feed-article-wrapper{"data-company-id" => "kuno-cpa2", "data-disabled-modal" => "false", "data-post-id" => "136444", "data-user-id" => "14162850", :href => "/companies/kuno-cpa2/post_articles/136444"}
    /                 .article-image
    /                   %img{:alt => "E3c7973c 32ab 487a b669 79e5997d141b?1538025729", :height => "180", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=600,dh=180,da=s,ds=s,cw=600,ch=180,cc=FFFFFF)/assets/images/3117480/original/e3c7973c-32ab-487a-b669-79e5997d141b?1538025729", :width => "600"}/
    /                 .article-writers
    /                   .writer-avatars
    /                     .writer-avatar
    /                       %img{:alt => "5f0f7662 64d6 4d5d 8c17 9ee057f12986?1538022093", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=48,dh=48,da=s,ds=s,cw=48,ch=48,cc=FFFFFF)/assets/images/3117283/original/5f0f7662-64d6-4d5d-8c17-9ee057f12986?1538022093"}/
    /                   .writer-name
    /                     %span 小山　郷
    /                 %h2.article-title 「ちょうど困っていたところだったから助かったよ」お客様の言葉に胸が熱くなる（♯1 新卒海外研修 岩城怜佳）
    /                 .article-description
    /                   中小企業の海外進出に関わりたい岩城怜佳（Iwaki Reika)国際事業部　タイ赴任　（新卒海外研修）【中小企業の海外進出に関わりたい】日本国内だけでなく、海外進出した日系企業をサポートしたいと...
    /                   %span.open-modal もっと見る
    /             .post-footer.cf
    /               .footer-left
    /                 .post-like-button-wrapper
    /                   .post-like-button.post-action-button.post-like-button-large{"data-company-id" => "304325", "data-location" => "feed", "data-post-id" => "136444", "data-state" => "published", :style => "width: 44px; height: 44px; line-height: 44px"}
    /                     .like-icon{:style => "width: 18px; height: 16px; margin-top: 50%; transform: translateY(-50%);"}
    /                       %img{:alt => "Icon like o", :heigth => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-o-58e9b52442a840b27ecced11b28c27b6f06ae8e819f6206512cd6afceaa97378.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
    /                       %img.filled{:alt => "Icon like", :height => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/icon-like-61d5d26f105659bc1eb76883f816c0e460dbc0e8133ce5697bfc4e40bfd3a9c2.svg", :style => "width: 18px; height: 16px;", :width => "18"}/
    /                   %a.post-like-user-wrapper{"data-company-id" => "304325", "data-post-id" => "136444", :href => "#like-user-dialog"}
    /                     .post-like-users
    /                       .own.post-like-user
    /                         %img{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/1738076039604572/picture?height=40&width=40", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "A61f92e5 1940 4e20 8461 208430d09d1f?1534814492", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/3037195/original/a61f92e5-1940-4e20-8461-208430d09d1f?1534814492", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "Picture?1523336259", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/2690858/original/picture?1523336259", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "Picture?height=40&width=40", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://graph.facebook.com/134607807401495/picture?height=40&width=40", :width => "40"}/
    /                       .post-like-user
    /                         %img{:alt => "5f0f7662 64d6 4d5d 8c17 9ee057f12986?1538022093", :height => "40", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=40,dh=40,da=s,ds=s,cw=40,ch=40,cc=FFFFFF)/assets/images/3117283/original/5f0f7662-64d6-4d5d-8c17-9ee057f12986?1538022093", :width => "40"}/
    /                     .post-like-count{"data-company-id" => "304325", "data-post-id" => "136444"}
    /                       4 いいね！
