.header
  = render 'shared/main-header'
.sub-header
  .featured-projects
    .featured-projects-wrapper
      .featured-nav-left
        %img{:alt => "Nav left", :src => "https://de7iszmjjjuya.cloudfront.net/assets/nav-left-196d6c318eb3aaea1613ceb3334d617089e7555e59da77102f0ef2fb0d7e438c.png"}/
      .featured-nav-right
        %img{:alt => "Nav right", :src => "https://de7iszmjjjuya.cloudfront.net/assets/nav-right-775824c23f8c9be37938481c0af919b44e3d9564ec4508cf647cc5e536b458b8.png"}/
      .featured-projects-inner
        .slick-list
          .slick-track{:style => "opacity: 1; width: 25000px; transform: translate3d(-1771px, 0px, 0px);"}
            %article.featured-project.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "-2", :tabindex => "-1"}
              %a{:href => "/projects/249422?featured=0", :tabindex => "-1"}
                .project-cover
                  %img{:alt => "F3fdaf13 da9f 4f10 a619 6fd9bb65508c?1539667051", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1280,dh=524,da=s,ds=s,cw=1280,ch=524,cc=FFFFFF)/assets/images/3160303/original/f3fdaf13-da9f-4f10-a619-6fd9bb65508c?1539667051"}/
              .featured-project-details
                .title-icons
                  %span.job-type-tag.sales
                    セールス
                %h2.project-title
                  %a{:href => "/projects/249422?featured=0", :tabindex => "-1"} エンターテイナー集合！大人が遊べるコミュニティバーの店長候補Wanted！
                %p.company-name
                  %img{:alt => "4e6b096c e629 401a 81bc 57e0d1f56608?1519306975", :height => "36", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=72,dh=72,da=s,ds=s,cw=72,ch=72,cc=FFFFFF)/assets/images/101997/original/4e6b096c-e629-401a-81bc-57e0d1f56608?1519306975", :width => "36"}/
                  %a{:href => "/companies/ale", :tabindex => "-1"} 株式会社アカツキライブエンターテインメント
                  .wt-ui-support-button.wt-ui-support-button-small
                    .project-support-link.wt-ui-button.wt-ui-button-blue{"data-project" => "{\"companyName\":\"株式会社アカツキライブエンターテインメント\",\"title\":\"エンターテイナー集合！大人が遊べるコミュニティバーの店長候補Wanted！\",\"id\":249422,\"url\":\"https://www.wantedly.com/projects/249422\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3160303/original/f3fdaf13-da9f-4f10-a619-6fd9bb65508c?1539667051\"}", "data-project-id" => "249422", "data-support-project-button-react" => "", "data-twitter-share-text" => "エンターテイナー集合！大人が遊べるコミュニティバーの店長候補Wanted！ by 株式会社アカツキライブエンターテインメント", "data-user-id" => "85521318"}
                      %i.icon-bullhorn
                        = fa_icon 'bullhorn-alt'
                    .count.wt-support-count{"data-project-id" => "249422"}
                      4
            %article.featured-project.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "-1", :tabindex => "-1"}
              %a{:href => "/projects/244391?featured=0", :tabindex => "-1"}
              .project-cover
              %img{:alt => "A2cb597b 15be 472c 9347 015df7bc2723?1538470399", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1280,dh=524,da=s,ds=s,cw=1280,ch=524,cc=FFFFFF)/assets/images/3116200/original/a2cb597b-15be-472c-9347-015df7bc2723?1538470399"}/
              .featured-project-details
                .title-icons
                  %span.job-type-tag.sales
                    セールス
                %h2.project-title
                  %a{:href => "/projects/244391?featured=0", :tabindex => "-1"} 食で人と人をつなぐ。新規営業企画プロデューサー募集！
                %p.company-name
                  %img{:alt => "E99bb3e3 eafb 4090 91c4 fdfa4d10d18d", :height => "36", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=72,dh=72,da=s,ds=s,cw=72,ch=72,cc=FFFFFF)/assets/images/7601/original/e99bb3e3-eafb-4090-91c4-fdfa4d10d18d.png?1495442645", :width => "36"}/
                  %a{:href => "/companies/oceans_corp", :tabindex => "-1"} 株式会社OCEAN'S
                .wt-ui-support-button.wt-ui-support-button-small
                  .project-support-link.wt-ui-button.wt-ui-button-blue{"data-project" => "{\"companyName\":\"株式会社OCEAN'S\",\"title\":\"食で人と人をつなぐ。新規営業企画プロデューサー募集！\",\"id\":244391,\"url\":\"https://www.wantedly.com/projects/244391\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3116200/original/a2cb597b-15be-472c-9347-015df7bc2723?1538470399\"}", "data-project-id" => "244391", "data-support-project-button-react" => "", "data-twitter-share-text" => "食で人と人をつなぐ。新規営業企画プロデューサー募集！ by 株式会社OCEAN'S (@nadiarecipe)", "data-user-id" => "85521318"}
                    %i.icon-bullhorn
                  .count.wt-support-count{"data-project-id" => "244391"}
                    4
            %article.featured-project.slick-slide{"aria-hidden" => "true", "data-slick-index" => "0", :tabindex => "-1"}
              %a{:href => "/projects/77244?featured=0", :tabindex => "-1"}
                .project-cover
                  %img{:alt => "974a0a15 ee9e 456d 89a9 c99ac68fc53d?1524650687", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1280,dh=524,da=s,ds=s,cw=1280,ch=524,cc=FFFFFF)/assets/images/836712/original/974a0a15-ee9e-456d-89a9-c99ac68fc53d?1524650687"}/
              .featured-project-details
                .title-icons
                  %span.job-type-tag.mobile_engineer
                    モバイルエンジニア
                %h2.project-title
                  %a{:href => "/projects/77244?featured=0", :tabindex => "-1"} 経験無いけどアプリ開発やりたい！という人へ。わかりました、大歓迎です!!
                %p.company-name
                  %img{:alt => "0ff88a48 ceef 4e37 935f 12ec6350f604", :height => "36", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=72,dh=72,da=s,ds=s,cw=72,ch=72,cc=FFFFFF)/assets/images/654851/original/0ff88a48-ceef-4e37-935f-12ec6350f604.png?1484878592", :width => "36"}/
                  %a{:href => "/companies/st-ventures", :tabindex => "-1"} 株式会社スマートテック・ベンチャーズ
                .wt-ui-support-button.wt-ui-support-button-small
                  .project-support-link.wt-ui-button.wt-ui-button-blue{"data-project" => "{\"companyName\":\"株式会社スマートテック・ベンチャーズ\",\"title\":\"経験無いけどアプリ開発やりたい！という人へ。わかりました、大歓迎です!!\",\"id\":77244,\"url\":\"https://www.wantedly.com/projects/77244\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/836712/original/974a0a15-ee9e-456d-89a9-c99ac68fc53d?1524650687\"}", "data-project-id" => "77244", "data-support-project-button-react" => "", "data-twitter-share-text" => "経験無いけどアプリ開発やりたい！という人へ。わかりました、大歓迎です!! by 株式会社スマートテック・ベンチャーズ (@stv_jp)", "data-user-id" => "85521318"}
                    %i.icon-bullhorn
                  .count.wt-support-count{"data-project-id" => "77244"}
                    120
            %article.featured-project.slick-slide.slick-current.slick-active.slick-center{"aria-hidden" => "false", "data-slick-index" => "1", :tabindex => "0"}
              %a{:href => "/projects/55716?featured=0", :tabindex => "0"}
                .project-cover
                  %img{:alt => "F387a8b5 b1df 4f50 8913 e65136cf596d?1534901817", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1280,dh=524,da=s,ds=s,cw=1280,ch=524,cc=FFFFFF)/assets/images/3037987/original/f387a8b5-b1df-4f50-8913-e65136cf596d?1534901817"}/
              .featured-project-details
                .title-icons
                  %span.job-type-tag.sales
                    セールス
                %h2.project-title
                  %a{:href => "/projects/55716?featured=0", :tabindex => "0"} 大阪勤務 / リクナビの企業フォロー担当WANTED！
                %p.company-name
                  %img{:alt => "0f9d3eb8 a04c 4ed3 b6a8 509eadccaf84?1534305369", :height => "36", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=72,dh=72,da=s,ds=s,cw=72,ch=72,cc=FFFFFF)/assets/images/247972/original/0f9d3eb8-a04c-4ed3-b6a8-509eadccaf84?1534305369", :width => "36"}/
                  %a{:href => "/companies/recruitcareer", :tabindex => "0"} 株式会社リクルートキャリア
                .wt-ui-support-button.wt-ui-support-button-small
                  .project-support-link.wt-ui-button.wt-ui-button-blue{"data-project" => "{\"companyName\":\"株式会社リクルートキャリア\",\"title\":\"大阪勤務 / リクナビの企業フォロー担当WANTED！\",\"id\":55716,\"url\":\"https://www.wantedly.com/projects/55716\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3037987/original/f387a8b5-b1df-4f50-8913-e65136cf596d?1534901817\"}", "data-project-id" => "55716", "data-support-project-button-react" => "", "data-twitter-share-text" => "大阪勤務 / リクナビの企業フォロー担当WANTED！ by 株式会社リクルートキャリア (@recruit_career)", "data-user-id" => "85521318"}
                    %i.icon-bullhorn
                  .count.wt-support-count{"data-project-id" => "55716"}
                    7
            %article.featured-project.slick-slide{"aria-hidden" => "true", "data-slick-index" => "2", :tabindex => "-1"}
              %a{:href => "/projects/247337?featured=0", :tabindex => "-1"}
                .project-cover
                  %img{:alt => "Db41a32a 7bb6 4409 87f7 e7fa0697e9e2?1540173752", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1280,dh=524,da=s,ds=s,cw=1280,ch=524,cc=FFFFFF)/assets/images/3141643/original/db41a32a-7bb6-4409-87f7-e7fa0697e9e2?1540173752"}/
              .featured-project-details
                .title-icons
                  %span.job-type-tag.web_engineer
                    Web エンジニア
                %h2.project-title
                  %a{:href => "/projects/247337?featured=0", :tabindex => "-1"} 保険のDigitalAgeを一緒につくるエンジニア募集!
                %p.company-name
                  %img{:alt => "84e39189 a162 4f29 b7dd 3928c753a971?1532330011", :height => "36", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=72,dh=72,da=s,ds=s,cw=72,ch=72,cc=FFFFFF)/assets/images/2973392/original/84e39189-a162-4f29-b7dd-3928c753a971?1532330011", :width => "36"}/
                  %a{:href => "/companies/ichain", :tabindex => "-1"} iChain株式会社
                .wt-ui-support-button.wt-ui-support-button-small
                  .project-support-link.wt-ui-button.wt-ui-button-blue{"data-project" => "{\"companyName\":\"iChain株式会社\",\"title\":\"保険のDigitalAgeを一緒につくるエンジニア募集!\",\"id\":247337,\"url\":\"https://www.wantedly.com/projects/247337\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3141643/original/db41a32a-7bb6-4409-87f7-e7fa0697e9e2?1540173752\"}", "data-project-id" => "247337", "data-support-project-button-react" => "", "data-twitter-share-text" => "保険のDigitalAgeを一緒につくるエンジニア募集! by iChain株式会社 (@ibeedinc)", "data-user-id" => "85521318"}
                    %i.icon-bullhorn
                  .count.wt-support-count{"data-project-id" => "247337"}
                    4
            %article.featured-project.slick-slide{"aria-hidden" => "true", "data-slick-index" => "3", :tabindex => "-1"}
              %a{:href => "/projects/249422?featured=0", :tabindex => "-1"}
                .project-cover
                  %img{:alt => "F3fdaf13 da9f 4f10 a619 6fd9bb65508c?1539667051", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1280,dh=524,da=s,ds=s,cw=1280,ch=524,cc=FFFFFF)/assets/images/3160303/original/f3fdaf13-da9f-4f10-a619-6fd9bb65508c?1539667051"}/
              .featured-project-details
                .title-icons
                  %span.job-type-tag.sales
                    セールス
                %h2.project-title
                  %a{:href => "/projects/249422?featured=0", :tabindex => "-1"} エンターテイナー集合！大人が遊べるコミュニティバーの店長候補Wanted！
                %p.company-name
                  %img{:alt => "4e6b096c e629 401a 81bc 57e0d1f56608?1519306975", :height => "36", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=72,dh=72,da=s,ds=s,cw=72,ch=72,cc=FFFFFF)/assets/images/101997/original/4e6b096c-e629-401a-81bc-57e0d1f56608?1519306975", :width => "36"}/
                  %a{:href => "/companies/ale", :tabindex => "-1"} 株式会社アカツキライブエンターテインメント
                .wt-ui-support-button.wt-ui-support-button-small
                  .project-support-link.wt-ui-button.wt-ui-button-blue{"data-project" => "{\"companyName\":\"株式会社アカツキライブエンターテインメント\",\"title\":\"エンターテイナー集合！大人が遊べるコミュニティバーの店長候補Wanted！\",\"id\":249422,\"url\":\"https://www.wantedly.com/projects/249422\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3160303/original/f3fdaf13-da9f-4f10-a619-6fd9bb65508c?1539667051\"}", "data-project-id" => "249422", "data-support-project-button-react" => "", "data-twitter-share-text" => "エンターテイナー集合！大人が遊べるコミュニティバーの店長候補Wanted！ by 株式会社アカツキライブエンターテインメント", "data-user-id" => "85521318"}
                    %i.icon-bullhorn
                  .count.wt-support-count{"data-project-id" => "249422"}
                    4
            %article.featured-project.slick-slide{"aria-hidden" => "true", "data-slick-index" => "4", :tabindex => "-1"}
              %a{:href => "/projects/244391?featured=0", :tabindex => "-1"}
                .project-cover
                  %img{:alt => "A2cb597b 15be 472c 9347 015df7bc2723?1538470399", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1280,dh=524,da=s,ds=s,cw=1280,ch=524,cc=FFFFFF)/assets/images/3116200/original/a2cb597b-15be-472c-9347-015df7bc2723?1538470399"}/
              .featured-project-details
                .title-icons
                  %span.job-type-tag.sales
                    セールス
                %h2.project-title
                  %a{:href => "/projects/244391?featured=0", :tabindex => "-1"} 食で人と人をつなぐ。新規営業企画プロデューサー募集！
                %p.company-name
                  %img{:alt => "E99bb3e3 eafb 4090 91c4 fdfa4d10d18d", :height => "36", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=72,dh=72,da=s,ds=s,cw=72,ch=72,cc=FFFFFF)/assets/images/7601/original/e99bb3e3-eafb-4090-91c4-fdfa4d10d18d.png?1495442645", :width => "36"}/
                  %a{:href => "/companies/oceans_corp", :tabindex => "-1"} 株式会社OCEAN'S
                .wt-ui-support-button.wt-ui-support-button-small
                  .project-support-link.wt-ui-button.wt-ui-button-blue{"data-project" => "{\"companyName\":\"株式会社OCEAN'S\",\"title\":\"食で人と人をつなぐ。新規営業企画プロデューサー募集！\",\"id\":244391,\"url\":\"https://www.wantedly.com/projects/244391\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3116200/original/a2cb597b-15be-472c-9347-015df7bc2723?1538470399\"}", "data-project-id" => "244391", "data-support-project-button-react" => "", "data-twitter-share-text" => "食で人と人をつなぐ。新規営業企画プロデューサー募集！ by 株式会社OCEAN'S (@nadiarecipe)", "data-user-id" => "85521318"}
                    %i.icon-bullhorn
                  .count.wt-support-count{"data-project-id" => "244391"}
                    4
            %article.featured-project.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "5", :tabindex => "-1"}
              %a{:href => "/projects/77244?featured=0", :tabindex => "-1"}
                .project-cover
                  %img{:alt => "974a0a15 ee9e 456d 89a9 c99ac68fc53d?1524650687", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1280,dh=524,da=s,ds=s,cw=1280,ch=524,cc=FFFFFF)/assets/images/836712/original/974a0a15-ee9e-456d-89a9-c99ac68fc53d?1524650687"}/
              .featured-project-details
                .title-icons
                  %span.job-type-tag.mobile_engineer
                    モバイルエンジニア
                %h2.project-title
                  %a{:href => "/projects/77244?featured=0", :tabindex => "-1"} 経験無いけどアプリ開発やりたい！という人へ。わかりました、大歓迎です!!
                %p.company-name
                  %img{:alt => "0ff88a48 ceef 4e37 935f 12ec6350f604", :height => "36", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=72,dh=72,da=s,ds=s,cw=72,ch=72,cc=FFFFFF)/assets/images/654851/original/0ff88a48-ceef-4e37-935f-12ec6350f604.png?1484878592", :width => "36"}/
                  %a{:href => "/companies/st-ventures", :tabindex => "-1"} 株式会社スマートテック・ベンチャーズ
                .wt-ui-support-button.wt-ui-support-button-small
                  .project-support-link.wt-ui-button.wt-ui-button-blue{"data-project" => "{\"companyName\":\"株式会社スマートテック・ベンチャーズ\",\"title\":\"経験無いけどアプリ開発やりたい！という人へ。わかりました、大歓迎です!!\",\"id\":77244,\"url\":\"https://www.wantedly.com/projects/77244\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/836712/original/974a0a15-ee9e-456d-89a9-c99ac68fc53d?1524650687\"}", "data-project-id" => "77244", "data-support-project-button-react" => "", "data-twitter-share-text" => "経験無いけどアプリ開発やりたい！という人へ。わかりました、大歓迎です!! by 株式会社スマートテック・ベンチャーズ (@stv_jp)", "data-user-id" => "85521318"}
                    %i.icon-bullhorn
                .count.wt-support-count{"data-project-id" => "77244"}
                  120
            %article.featured-project.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "6", :tabindex => "-1"}
              %a{:href => "/projects/55716?featured=0", :tabindex => "-1"}
                .project-cover
                  %img{:alt => "F387a8b5 b1df 4f50 8913 e65136cf596d?1534901817", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1280,dh=524,da=s,ds=s,cw=1280,ch=524,cc=FFFFFF)/assets/images/3037987/original/f387a8b5-b1df-4f50-8913-e65136cf596d?1534901817"}/
              .featured-project-details
                .title-icons
                  %span.job-type-tag.sales
                    セールス
                %h2.project-title
                  %a{:href => "/projects/55716?featured=0", :tabindex => "-1"} 大阪勤務 / リクナビの企業フォロー担当WANTED！
                %p.company-name
                  %img{:alt => "0f9d3eb8 a04c 4ed3 b6a8 509eadccaf84?1534305369", :height => "36", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=72,dh=72,da=s,ds=s,cw=72,ch=72,cc=FFFFFF)/assets/images/247972/original/0f9d3eb8-a04c-4ed3-b6a8-509eadccaf84?1534305369", :width => "36"}/
                  %a{:href => "/companies/recruitcareer", :tabindex => "-1"} 株式会社リクルートキャリア
                .wt-ui-support-button.wt-ui-support-button-small
                  .project-support-link.wt-ui-button.wt-ui-button-blue{"data-project" => "{\"companyName\":\"株式会社リクルートキャリア\",\"title\":\"大阪勤務 / リクナビの企業フォロー担当WANTED！\",\"id\":55716,\"url\":\"https://www.wantedly.com/projects/55716\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3037987/original/f387a8b5-b1df-4f50-8913-e65136cf596d?1534901817\"}", "data-project-id" => "55716", "data-support-project-button-react" => "", "data-twitter-share-text" => "大阪勤務 / リクナビの企業フォロー担当WANTED！ by 株式会社リクルートキャリア (@recruit_career)", "data-user-id" => "85521318"}
                    %i.icon-bullhorn
                .count.wt-support-count{"data-project-id" => "55716"}
                  7
            %article.featured-project.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "7", :tabindex => "-1"}
              %a{:href => "/projects/247337?featured=0", :tabindex => "-1"}
                .project-cover
                  %img{:alt => "Db41a32a 7bb6 4409 87f7 e7fa0697e9e2?1540173752", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1280,dh=524,da=s,ds=s,cw=1280,ch=524,cc=FFFFFF)/assets/images/3141643/original/db41a32a-7bb6-4409-87f7-e7fa0697e9e2?1540173752"}/
              .featured-project-details
                .title-icons
                  %span.job-type-tag.web_engineer
                    Web エンジニア
                %h2.project-title
                  %a{:href => "/projects/247337?featured=0", :tabindex => "-1"} 保険のDigitalAgeを一緒につくるエンジニア募集!
                %p.company-name
                  %img{:alt => "84e39189 a162 4f29 b7dd 3928c753a971?1532330011", :height => "36", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=72,dh=72,da=s,ds=s,cw=72,ch=72,cc=FFFFFF)/assets/images/2973392/original/84e39189-a162-4f29-b7dd-3928c753a971?1532330011", :width => "36"}/
                  %a{:href => "/companies/ichain", :tabindex => "-1"} iChain株式会社
                .wt-ui-support-button.wt-ui-support-button-small
                  .project-support-link.wt-ui-button.wt-ui-button-blue{"data-project" => "{\"companyName\":\"iChain株式会社\",\"title\":\"保険のDigitalAgeを一緒につくるエンジニア募集!\",\"id\":247337,\"url\":\"https://www.wantedly.com/projects/247337\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3141643/original/db41a32a-7bb6-4409-87f7-e7fa0697e9e2?1540173752\"}", "data-project-id" => "247337", "data-support-project-button-react" => "", "data-twitter-share-text" => "保険のDigitalAgeを一緒につくるエンジニア募集! by iChain株式会社 (@ibeedinc)", "data-user-id" => "85521318"}
                    %i.icon-bullhorn
                .count.wt-support-count{"data-project-id" => "247337"}
                  4
            %article.featured-project.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "8", :tabindex => "-1"}
              %a{:href => "/projects/249422?featured=0", :tabindex => "-1"}
                .project-cover
                  %img{:alt => "F3fdaf13 da9f 4f10 a619 6fd9bb65508c?1539667051", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1280,dh=524,da=s,ds=s,cw=1280,ch=524,cc=FFFFFF)/assets/images/3160303/original/f3fdaf13-da9f-4f10-a619-6fd9bb65508c?1539667051"}/
              .featured-project-details
                .title-icons
                  %span.job-type-tag.sales
                    セールス
                %h2.project-title
                  %a{:href => "/projects/249422?featured=0", :tabindex => "-1"} エンターテイナー集合！大人が遊べるコミュニティバーの店長候補Wanted！
                %p.company-name
                  %img{:alt => "4e6b096c e629 401a 81bc 57e0d1f56608?1519306975", :height => "36", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=72,dh=72,da=s,ds=s,cw=72,ch=72,cc=FFFFFF)/assets/images/101997/original/4e6b096c-e629-401a-81bc-57e0d1f56608?1519306975", :width => "36"}/
                  %a{:href => "/companies/ale", :tabindex => "-1"} 株式会社アカツキライブエンターテインメント
                .wt-ui-support-button.wt-ui-support-button-small
                  .project-support-link.wt-ui-button.wt-ui-button-blue{"data-project" => "{\"companyName\":\"株式会社アカツキライブエンターテインメント\",\"title\":\"エンターテイナー集合！大人が遊べるコミュニティバーの店長候補Wanted！\",\"id\":249422,\"url\":\"https://www.wantedly.com/projects/249422\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3160303/original/f3fdaf13-da9f-4f10-a619-6fd9bb65508c?1539667051\"}", "data-project-id" => "249422", "data-support-project-button-react" => "", "data-twitter-share-text" => "エンターテイナー集合！大人が遊べるコミュニティバーの店長候補Wanted！ by 株式会社アカツキライブエンターテインメント", "data-user-id" => "85521318"}
                    %i.icon-bullhorn
                .count.wt-support-count{"data-project-id" => "249422"}
                  4
            %article.featured-project.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "9", :tabindex => "-1"}
              %a{:href => "/projects/244391?featured=0", :tabindex => "-1"}
                .project-cover
                  %img{:alt => "A2cb597b 15be 472c 9347 015df7bc2723?1538470399", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1280,dh=524,da=s,ds=s,cw=1280,ch=524,cc=FFFFFF)/assets/images/3116200/original/a2cb597b-15be-472c-9347-015df7bc2723?1538470399"}/
              .featured-project-details
                .title-icons
                  %span.job-type-tag.sales
                    セールス
                %h2.project-title
                  %a{:href => "/projects/244391?featured=0", :tabindex => "-1"} 食で人と人をつなぐ。新規営業企画プロデューサー募集！
                %p.company-name
                  %img{:alt => "E99bb3e3 eafb 4090 91c4 fdfa4d10d18d", :height => "36", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=72,dh=72,da=s,ds=s,cw=72,ch=72,cc=FFFFFF)/assets/images/7601/original/e99bb3e3-eafb-4090-91c4-fdfa4d10d18d.png?1495442645", :width => "36"}/
                  %a{:href => "/companies/oceans_corp", :tabindex => "-1"} 株式会社OCEAN'S
                .wt-ui-support-button.wt-ui-support-button-small
                  .project-support-link.wt-ui-button.wt-ui-button-blue{"data-project" => "{\"companyName\":\"株式会社OCEAN'S\",\"title\":\"食で人と人をつなぐ。新規営業企画プロデューサー募集！\",\"id\":244391,\"url\":\"https://www.wantedly.com/projects/244391\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3116200/original/a2cb597b-15be-472c-9347-015df7bc2723?1538470399\"}", "data-project-id" => "244391", "data-support-project-button-react" => "", "data-twitter-share-text" => "食で人と人をつなぐ。新規営業企画プロデューサー募集！ by 株式会社OCEAN'S (@nadiarecipe)", "data-user-id" => "85521318"}
                    %i.icon-bullhorn
                .count.wt-support-count{"data-project-id" => "244391"}
                  4
  .featured-projects-loader-wrapper
    .wt-ui-loader
      .wt-ui-css-animation-image
        %img{:alt => "W logo", :src => "https://de7iszmjjjuya.cloudfront.net/assets/w-logo-d49e7e8e4b63304af6a88641053bfc8c68792a21c3d1726f72def65aa5e35324.png"}/
      .wt-ui-gif-animation-image
        %img{:alt => "Wt loader", :src => "https://de7iszmjjjuya.cloudfront.net/assets/wt-loader-9744d25f5e6e8151f593563f6a010c74fa2d3c1a08522884c1427128a067134c.gif"}/
  .featured-projects-pagination
    %li.pagenate-1
      %span.off
        %img{:alt => "Dot gray", :src => "https://de7iszmjjjuya.cloudfront.net/assets/dot-gray-c353ef63e01a99e4bcf93cfab949ce7f6792158d4bb3892374cd385cf841d7d1.png"}/
      %span.on
        %img{:alt => "Dot blue", :src => "https://de7iszmjjjuya.cloudfront.net/assets/dot-blue-64f08e946dac3aeda0f1b494676ebdda3b5a0de713f1e916b6bfbed88b4434cd.png"}/
    %li.pagenate-2
      %span.off
        %img{:alt => "Dot gray", :src => "https://de7iszmjjjuya.cloudfront.net/assets/dot-gray-c353ef63e01a99e4bcf93cfab949ce7f6792158d4bb3892374cd385cf841d7d1.png"}/
      %span.on
        %img{:alt => "Dot blue", :src => "https://de7iszmjjjuya.cloudfront.net/assets/dot-blue-64f08e946dac3aeda0f1b494676ebdda3b5a0de713f1e916b6bfbed88b4434cd.png"}/
    %li.pagenate-3
      %span.off
        %img{:alt => "Dot gray", :src => "https://de7iszmjjjuya.cloudfront.net/assets/dot-gray-c353ef63e01a99e4bcf93cfab949ce7f6792158d4bb3892374cd385cf841d7d1.png"}/
      %span.on
        %img{:alt => "Dot blue", :src => "https://de7iszmjjjuya.cloudfront.net/assets/dot-blue-64f08e946dac3aeda0f1b494676ebdda3b5a0de713f1e916b6bfbed88b4434cd.png"}/
    %li.pagenate-4
      %span.off
        %img{:alt => "Dot gray", :src => "https://de7iszmjjjuya.cloudfront.net/assets/dot-gray-c353ef63e01a99e4bcf93cfab949ce7f6792158d4bb3892374cd385cf841d7d1.png"}/
      %span.on
        %img{:alt => "Dot blue", :src => "https://de7iszmjjjuya.cloudfront.net/assets/dot-blue-64f08e946dac3aeda0f1b494676ebdda3b5a0de713f1e916b6bfbed88b4434cd.png"}/
    %li.pagenate-5
      %span.off
        %img{:alt => "Dot gray", :src => "https://de7iszmjjjuya.cloudfront.net/assets/dot-gray-c353ef63e01a99e4bcf93cfab949ce7f6792158d4bb3892374cd385cf841d7d1.png"}/
      %span.on
        %img{:alt => "Dot blue", :src => "https://de7iszmjjjuya.cloudfront.net/assets/dot-blue-64f08e946dac3aeda0f1b494676ebdda3b5a0de713f1e916b6bfbed88b4434cd.png"}/
.project-main
  .project-main-inner
    .project-index
      .project-two-column
        .project-column-main
          .project-column-main-inner
            .loader-wrapper
              %img{:alt => "Loading black", :src => "https://de7iszmjjjuya.cloudfront.net/assets/loading_black-81ea81be1d862d36c34b6dc4f12aefb87b656e319003263d8274974b48ccf869.gif"}/
            .projects-index-menu
              .projects-count
                %span.current
                  11
                %span.per /
                %span.total
                  3193
              .projects-index-sort-menu
                %li.sort-menu
                  %a.sort-link-popular{"data-type" => "popular", :href => "/projects?authorized=true&country=japan&hiring_types%5B%5D=newgrad&hiring_types%5B%5D=internship&occupation_types%5B%5D=others&type=popular"} 人気
                %li.sort-menu2
                  %a.sort-link-recent{"data-type" => "recent", :href => "/projects?authorized=true&country=japan&hiring_types%5B%5D=newgrad&hiring_types%5B%5D=internship&occupation_types%5B%5D=others&type=recent"} 新着
                %li.sort-menu3
                  %a.sort-link-mixed.selected{"data-type" => "mixed", :href => "/projects?authorized=true&amp;country=japan&amp;hiring_types%5B%5D=newgrad&amp;hiring_types%5B%5D=internship&amp;occupation_types%5B%5D=others&amp;type=mixed"} おすすめ
                %h4 並べ替え
            = render 'shared/recruit'

