<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Wantedly</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

<!-- hello -->
    <div class="hello">
      <div class="hello_head">
        <div class="icon"></div>
        <ul class="hello_nav_left">
          <li><a>お問い合わせ</a>
          <li>資料請求</li>
          </li><li>利用料金</li>
        </ul>
        <div class="line"></div>
        <ul class="hello_nav_right">
          <li class="phone">📞</li>
          <li class="phone"><a>03-6868-5707</a></li>
        </ul>
        <div class="login">
          <a class="log_btn">ログイン</a>
        </div>
      </div>
      <div class="main_text">
        <div class="main_logo">
        </div>
        <div class="catch">
          <p>採用は「共感」で</p>
          <p>進化する</p>
        </div>
        <div class="text">
          <p>Wantedly Adminは給料や職歴などの条件ではなく、</p>
          <p>やりがいや環境で求人者と求職者をマッチングし</p>
          <p>シゴトを自己実現の場と捉える</p>
        </div>
        <div class="catch2">
          <span class="catch_line">若手優秀層へとリーチできる採用広報ツール</span>
          <span class="small">です</span>
        </div>
        <div class="trial_block">
          <a class="trial">まずは３０日間無料トライアル</a>
        </div>
      </div>
      <div class="hello_bottom">
        <p>Wantedly Admin をもっと知る</p>
      </div>
    </div>
<!-- text -->
<div class="logos">
  <div class="sub_text">
    <p class="captain">25,000 社以上</p>
    <p class="sub">が、すでに Wantedly Admin を活用中です</p>
  </div>
</div>
<!-- benefit -->
<section class="benefit">
  <div class="section_header">
    <div class="title">なぜ Wantedly Admin なのか?</div>
    <div class="sub_title">急成長する企業を惹きつける、5つの理由</div>
  </div>
  <div class="text2">
    <div class="captain2">
      <p>100万人以上の</p>
      <p>成長意欲あふれる</p>
      <p>若手人材がいます</p>
    </div>
    <div class="description">
      <p class="mini">登録ユーザーの多くは20-30代の若手成長人材です。</p>
      <p class="mini">職種の幅は広く、多くの分野で活躍しています。</p>
      <p class="mini">成長意欲の高いユーザーが積極的に応募しています。</p>
    </div>
  <div class="lazy"></div>
  <div class="methods">
    <div class=image></div>
  <div class="text3">
    <div class="captain3">
      <p>会社の魅力を</p>
      <p>伝える手段が</p>
      <p>そろっています</p>
    </div>
    <div class="description2">
      <p>募集では自由に要項を書くことができ、写真でも社風をアピール。ブログ機能であるフィードでは会社の生の声を伝え、採用広報やブランディングに役立てることができます。</p>
      <p>スカウト機能や、募集を代行して作成する特別ライティングなど、多くのオプションもご利用いただけます。</p>
    </div>
    <div class="options">
      <div class="option1">
        <div class="option_image1"></div>
        <p class="option_tag">ダイレクトスカウト</p>
      </div>
      <div class="option2">
        <div class="option_image2"></div>
          <p class="option_tag">タレントプール</p>
      </div>
      <div class="option3">
        <div class="option_image3"></div>
        <p class="option_tag">特別ライティング</p>
      </div>
      <div class="option4">
        <div class="option_image4"></div>
        <p class="option_tag">動画制作オプション</p>
      </div>
    </div>
  <div class="other_benefit">
    <div class="item">
      <div class="matching_image">
        <img class="matching_lazy" src="https://dubpy8abnqmkw.cloudfront.net/images/about-list/ardbeg/matching.svg">
      </div>
      <div class=matching_text>良質なマッチング</div>
      <div class=matching_subtext>
        <p>自社に合う志向をもつ候補者が応募しやすく</p>
        <p>ミスマッチの少ない採用を実現しています。</p>
      </div>
    </div>
    <div class="item">
      <div class="matching_image">
        <img class="matching_lazy" src="https://dubpy8abnqmkw.cloudfront.net/images/about-list/ardbeg/cost.svg">
      </div>
      <div class=matching_text>成果報酬0円</div>
      <div class=matching_subtext>
        <p>継続課金のみで成功報酬はかからないため</p>
        <p>低いコストで採用活動を行えます。</p>
      </div>
    </div>
    <div class="item">
      <div class="matching_image">
        <img class="matching_lazy" src="https://dubpy8abnqmkw.cloudfront.net/images/about-list/ardbeg/reply.svg">
      </div>
      <div class=matching_text>返信率の高いスカウト</div>
      <div class=matching_subtext>
        <p>5通に1通ものスカウトメッセージに</p>
        <p>返信があります。</p>
      </div>
    </div>
  <div class="trial_button">
    <a class=trial2>今すぐ、３０日間トライアル</a>
  </div>
<!-- survices -->
<div class="services">
  <div class="services_header">
    <div class="services_title">Wantedly Admin の主な機能</div>
    <div class="services_sub_title">採用広報を成果に結びつける、３つの機能</div>
  </div>
  <div class="services_project">
    <img class="project_image" src="https://dubpy8abnqmkw.cloudfront.net/images/about-list/ardbeg/jobpost.jpg">
    <div class="services_line"></div>
    <p class="captain4">募集で</p>
    <p class="subcaptain">シゴトの魅力を伝えよう</p>
    <div class="description3">
      <p>自分たちが、なぜ、今の事業を、どのようなメンバーで作っているのか、これからどうしていきたいのかをユーザーに伝えます。</p>
    </div>
  </div>
  <div class="feed">
    <div class="service_wrapper">
      <p class=captain5>フィードで、</p>
      <p class="subcaptain2">ファンを増やそう</p>
      <div class="description4">
        <p>フィードは、すぐ始められる効果的な採用ブランディングのためのブログ機能です。</p>
        <p>会社の情報を発信して、ファンを増やしましょう。</p>
      </div>
      <img class="feed_image" src="https://dubpy8abnqmkw.cloudfront.net/images/about-list/ardbeg/feed@2x.png">
      <div class="feed_line"></div>
    </div>
  </div>
  <div class="scout">
    <div class="scout_wrapper">
      <img class="scout_lazy" src="https://dubpy8abnqmkw.cloudfront.net/images/about-list/ardbeg/scout@2x.png">
      <div class="scout_line"></div>
      <p class="captain6">スカウトで、</p>
      <p class="subcaptain3">会いたい人材を探そう</p>
      <div class="description5">
        <p>Wantedly内のユーザーを自由に検索し、ニーズに合った候補者へ直接メッセージを送ることができる「オプションサービス」です。</p>
        <p>応募が少ない職種でも、主体的に採用活動を行なうことができるため、多くの企業で活用されています。</p>
      </div>
    </div>
  </div>
  <a class="trial_button2">今すぐ、３０日間トライアル</a>
</div>
<div class="prices">
  <div class="price_header">
    <div class="price_title">Wantedly Admin 料金プラン</div>
    <div class="price_subtitle">月額料金のみ、成功報酬なし</div>
  </div>
  <div class="pricing_panel">
    <div class="select-durations">
      <div class="selector">６ヶ月</div>
      <div class="selector">１２ヶ月</div>
      <div class="selector">２４ヶ月</div>
    </div>
    <div class="pricing_panels">
      <div class="trial_plan">
        <div class="plan_name1">トライアル</div>
        <div class="plan_price1">無料</div>
        <dic class="plan_infor1">本格的に利用される前に利用方法を確認したい方</dic>
      </div>
      <div class="minimum_plan">
        <div class="plan_name2">ミニマム</div>
        <div class="plan_price2">
          <div class="price1">3万円</div>
          <div class="month">/月</div>
        </div>
        <div class="plan_infor5">面談に出る社員が1-2名の採用を始めたばかりの企業</div>
      </div>
      <div class="light_plan">
        <div class="plan_name3">ライト</div>
        <div class="plan_price3">
          <div class="price2">5万円</div>
          <div class="month">/月</div>
        </div>
        <div class="plan_infor3">ご利用に慣れていて、面談者が3名以上の急拡大企業</div>
      </div>
      <div class="standard_plan">
        <div class="plan_name4">スタンダード</div>
        <div class="plan_price4">
          <div class="price4">9万円</div>
          <div class="month">/月</div>
        </div>
        <div class="plan_infor4">初めて利用される方、お得にスカウトを活用したい方</div>
      </div>
      <div class="enterprice_plan">
        <div class="plan_name5">エンタープライズ</div>
        <div class="plan_price5">
          <div class="price4">50万円~</div>
          <div class="month">/月</div>
        </div>
        <div class="plan_infor5">早急に応募を集め、採用を成功させたい方</div>
      </div>
    </div>
  </div>
  <table class="pricing_table">
    <tbody>
      <tr class="table_header">
        <th class="table_title"></th>
        <th class="table_trial_plan">
          <div class="table_plan_name1">トライアル</div>
          <a class="register-button">申し込む</a>
        </th>
        <th class="table_minimum_plan">
          <div class="table_plan_name2">ミニマム</div>
          <a class="register-button">申し込む</a>
        </th>
        <th class="table_light_plan">
          <div class="table_plan_name3">ライト</div>
          <a class="register-button">申し込む</a>
        </th>
        <th class="table_standard_plan">
          <div class="table_plan_name4">スタンダード</div>
          <a class="register-button">申し込む</a>
        </th>
        <th class="table_enterprice_plan">
          <div class="table_plan_name3">ライト</div>
          <a class="register-button">お問い合わせ</a>
        </th>
      </tr>
      <tr class="border_bottom">
        <td class="first_reference_cell">採用・面談担当アカウント数</td>
        <td class="trial_plan2">3名</td>
        <td class="minimum_plan2">
          <div class="number">3名</div>
          <div class="chabge_text">超過につき1名1.5万円 x 12ヶ月</div>
        </td>
        <td class="light_plan2">
          <div class="number">15名</div>
          <div class="chabge_text">超過につき1名1.5万円 x 12ヶ月</div>
        </td>
        <td class="standard_plan2">無制限</td>
        <td class="enterprice_plan2">無制限</td>
      </tr>
      <tr>
        <td class="first_reference_cell">ブックマーク・スカウト機能</td>
        <td class="trial_plan_null"></td>
        <td class="minimum_plan_null"></td>
        <td class="light_plan_free">無制限</td>
        <td class="standard_plan_free">無制限</td>
        <td class="enterprice_plan_free">無制限</td>
      </tr>
      <tr>
        <td class="first_reference_cell">ダイレクト・スカウト機能</td>
        <td class="trial_plan_null"></td>
        <td class="minimum_plan_null"></td>
        <td class="light_plan_null"></td>
        <td class="standard_plan3">400通</td>
        <td class="enterprice_plan3">400通~</td>
      </tr>
      <tr>
        <td class="first_reference_cell">募集事項の作成代行</td>
        <td class="trial_plan_null"></td>
        <td class="minimum_plan_null"></td>
        <td class="light_plan_null"></td>
        <td class="standard_plan4">電話取材</td>
        <td class="enterprice_plan4">
          <div class="enter_plan">現地取材</div>
          <div class="enter_subplan">(特別ライティングが無料)</div>
        </td>
      </tr>
      <tr>
        <td class="first_reference_cell">トップページ枠への掲載</td>
        <td class="trial_plan_null"></td>
        <td class="minimum_plan_null"></td>
        <td class="light_plan_null"></td>
        <td class="standard_plan_null"></td>
        <td class="enterprice_plan_check">☑️</td>
      </tr>
      <tr>
        <td class="first_reference_cell">専任担当による導入サポート</td>
        <td class="trial_plan_null"></td>
        <td class="minimum_plan_null"></td>
        <td class="light_plan_null"></td>
        <td class="standard_plan_null"></td>
        <td class="enterprice_plan_check">☑️</td>
      </tr>
      <tr>
        <td class="first_reference_cell">募集の掲載本数</td>
        <td class="trial_plan3">5本</td>
        <td class="minimum_plan_free">無制限</td>
        <td class="light_plan_free">無制限</td>
        <td class="standard_plan_free">無制限</td>
        <td class="enterprice_plan_free">無制限</td>
      </tr>
      <tr>
        <td class="first_reference_cell">応募者のプロフィール閲覧数</td>
        <td class="trial_plan3">先着5名</td>
        <td class="minimum_plan_free">無制限</td>
        <td class="light_plan_free">無制限</td>
        <td class="standard_plan_free">無制限</td>
        <td class="enterprice_plan_free">無制限</td>
      </tr>
      <tr>
        <td class="first_reference_cell">サポート体制</td>
        <td class="trial_plan4">メール</td>
        <td class="minimum_plan3">メール</td>
        <td class="light_plan3">メール</td>
        <td class="standard_plan5">メール+電話</td>
        <td class="enterprice_plan5">メール+電話</td>
      </tr>
      <tr>
        <td class="first_reference_cell">サポートの初回対応時間</td>
        <td class="trial_plan_null"></td>
        <td class="minimum_plan3">48営業時間以内</td>
        <td class="light_plan3">24営業時間以内</td>
        <td class="standard_plan5">8営業時間院内</td>
        <td class="enterprice_plan5">4営業時間以内</td>
      </tr>
    </tbody>
  </table>
  <div class="tax_explanation">※価格はすべて税別です</div>
</div>
<section class="achievements">
  <div class="section_header2">
    <div class="title2">Wantedly Admin の実績</div>
    <div class="sub_title2">多種多様な企業での採用実績</div>
  </div>
  <section class="companies">
    <img class="lazy2" src="https://dubpy8abnqmkw.cloudfront.net/images/about-list/ardbeg/company.svg">
    <div class=companie_text>
      <div class="captain7">
        <p class="main">25,000社以上</p>
        <p class="sub1">の企業が活用</p>
      </div>
      <div class="description6">
        <p>サービス開始から6年、登録企業数は25,000社を超え、多くのお客様にご満足いただいています。</p>
        <p>サービスやサポートの質を日々高めており、ブランディングや採用が成功したという声が増え続けています。</p>
      </div>
    </div>
  </section>
  <section class="industry_type">
    <div class="captain8">
      <p class="main2">多彩な業種で</p>
      <p class="sub2">効果を発揮</p>
    </div>
    <div class="description7">
      <p>Wantedly AdminはIT企業やスタートアップ専用のサービスというわけではありません。</p>
      <p>企業規模や所在地を問わず、幅広い業種でご活用いただいています。</p>
    </div>
    <img class="lazy3" src="https://dubpy8abnqmkw.cloudfront.net/images/about-list/ardbeg/industry_type.svg">
  </section>
  <div class="trial_button3">
    <a class=trial2>今すぐ、３０日間トライアル</a>
  </div>
  <div class="case_captain">多くの採用体験が寄せられています</div>
  <section class="cases">
    <div class="case_edge">
      <div class="image1">
        <img class="edge" src="https://dubpy8abnqmkw.cloudfront.net/images/about-list/ardbeg/case_edge2.png">
      </div>
    </div>
    <div class="case_center">
      <img class="cock" src=https://dubpy8abnqmkw.cloudfront.net/images/about-list/ardbeg/case_1.png>
      <div class="description8">Wantedlyは飲食系人材のブルーオーシャン。コストを抑えて18名の飲食人材を採用</div>
      <div class="name1">COVA JAPAN CO.,LTD</div>
    </div>
    <div class="case_center">
      <img class="cock" src="https://dubpy8abnqmkw.cloudfront.net/images/about-list/ardbeg/case_2.png">
      <div class="description8">IT人材の獲得に抜群。スカウトも効果を発揮し5名の採用に成功！</div>
      <div class="name1">JapanTaxi株式会社</div>
    </div>
    <div class="case_center">
      <img class="image2" src="https://dubpy8abnqmkw.cloudfront.net/images/about-list/ardbeg/case_3.png">
      <div class="description8">異色の旅館業界！「思い」を伝えて4名の採用に成功</div>
      <div class="name1">有限会社橘</div>
    </div>
    <div class="case_edge2">
      <img class="edge2" src="https://dubpy8abnqmkw.cloudfront.net/images/about-list/ardbeg/case_edge1.png">
    </div>
