.column-wrapper{
  overflow: hidden;
  position: relative;
}
  .column-main{
    margin-right:360px;
    .column-main-wrapper{
      width: 600px;
      margin: 0 auto;
  }
    }
      .feeds-posts-wrapper{
        margin-top:40px;
        .feed-topic-heading{
          overflow: hidden;
          margin-bottom: 40px;
          padding-bottom: 20px;
          border-bottom: solid 1px #e3e3e3;
          .feed-topic-icon{
            width: 40px;
            height: 40px;
            margin-right: 12px;
            border-radius: 100px;
            border: solid 1px #e3e3e3;
            float: left;
            font-size: 20px;
            display: inline-block;
            text-align: center;
            line-height: 40px;
        }
      }
          .feed-topic-innner{
            float:left;
            .feed-topic-tag-title {
              font-size: 24px;
              color: #24282A;
              font-weight: 500;
              line-height: 1.75;
            }
          }
          .feed-topic-buttons{
          margin-top: 8px;
          float:right;
          }
            .post-topic-button-wrapper{
              display: inline-block;
            }
      }














